**/bin/
**/obj/
**/TestResults/
**/.vscode/
**/.config/
**/dist/
**/out/
**/node_modules/
**/PublishProfiles/
**/DB/
**/__pycache__/
**/SuperMetroid/data/maps/
artifacts/
.vs
.cr
*.sfc
*.smc
*.user
*.suo
*.bak
