---
title: Changelog
description: Notable updates to the Game Randomizer web app.
lastUpdated: 2024-09-15
---

# Randomizer Changes

## 2026-06-01
### Quad Randomizer - Version 0.4.0
* Systems Changes
  * Added a "Settings" help page describing every setting available in the Basic options view
  * Added a dungeon map viewer to the spoiler log for Zelda 1 generated dungeons
  * Made the Combo hint fallback more obvious when no specific hint is available
  * Overhauled the NES audio engine used by Zelda 1 and Metroid 1 to emulate the NES APU at a much lower level (Andypro)
    * More accurate length counters, DMC sample length and register write handling, fixing short sounds, mid-playback sample switching and incorrectly silenced channels
    * Added a noise complement channel for better white noise, reduced audio latency and optimized CPU/SPC communication

* Gameplay Changes
  * Added Zelda 1 Dungeon Shuffle - generates brand-new randomized dungeon layouts instead of the vanilla ones (NOTE: this is in early testing, so expect potential bugs and balance issues)
    * Dungeon Style option (Progressive, Wild, Megadungeon, Nightmare, Minimal) controls overall size and complexity
    * Enemy Placement option (Vanilla, Progressive, Random) controls how enemies are chosen for generated dungeons
    * Hidden Items option (Off, Sometimes, Always) controls whether dungeon items are hidden until the room is cleared
  * Improved ALTTP entrance shuffle by overriding certain outlet locations so players can no longer get stuck
  * Fixed an ALTTP logic issue where you could not walk back from the cactus area to the throne room
  * Added a few more enemy bans in ALTTP that could cause issues (Ganon's Tower, Ice Palace, Swamp Palace)

## 2025-11-06
### Alttpr - Version 32.0
* Initial release

### Quad Randomizer - Version 0.3.0
* Systems Changes
  * New website with more configuration options and better integration with the alttpr randomizer
  * A huge set of behind-the-scene changes to better integrate quad into the general codebase
  * Custom sprite support for Z1 and M1 (Andypro & total)
  * A huge set of QoL and bugfixes for Z1 and M1 (Andypro)

* Gameplay Changes
  * Massively improved SM Map randomization support with newer maps and better map rendering and a lot of bug fixes
  * Added a soft-reset into SM that reloads the last save (Sel+Start+R+L)
  * Map Rando: In SM the game is now autosaved to the portal room when entering through a portal

* Hotfix: 0.3.0d
  * Some chests in light world dungeons/entrances didn't properly account for bunny status in entrance shuffle when placed in the dark world.
  * Friendly/Unkillable enemies placed in "challenge"-rooms could make it impossible to progress.
  * Aga2 bat not showing the correct sprite
  * Aginah's cave not being shuffled in entrance rando
  * Issues with Blind in TT when boss shuffle is used

* Hotfix: 0.3.0e
  * Fixed issues with Blind when place in dark world
  * Fixed boss shuffle issues with Kholdstare and Trinexx rooms
  * Fixed invalid door data in West Ocean causing the MB door lock to possibly appear on the wrong door
  * Fixed Shaktool scroll issue
  * Fixed a potential heat run issue in SM
  * Changed the escape timer to 5 minutes and added an automatic refill when defating MB in SM to make map rando escapes better
  * Fixed Z1 Triforce goal not being written

* Hotfix: 0.3.0f
  * Fixes issues with enemies and bosses related to shallow water
  * Fixes incorrect item text for SM keys in ALTTP

* Hotfix: 0.3.0g
  * Fixed water physics bug when entering certain rooms suitless from an underwater room
  * Fixed Z3 progressive item state not being set correct after a reset out of another game after a save
  * Added better support for notable strategies in SM to make sure they're coupled with the correct logic levels
  * Added an option to spawn all item in SM directly, independent of event states such as boss kills
  * Further Z3 enemizer fixes and adjustments
  * NOTE: Z3 boss shuffle is still broken in some cases and can lead to broken seeds for now


## Old Quad Randomizer Changes
### 2024-11-03 - Version 0.1.11
* Systems Changes
  * Added the missing DPCM samples for the Z1 music engine. (Andypro)
  * Fixed a bunch of inaccuracies in the NES music engine for Z1 and M1 (Andypro)
  * Fixed a bug in the M1 port that could cause crashes in certain situations

* Gameplay Changes
  * Fixed corrupted graphics for the Wrecked Ship keycards.
  * Fixed a graphical bug in Z1 where Link would appear on top of doors in dungeons.
  * Fixed an issue with certain characters appearing incorrectly in the Z1/M1 item text overlays.

### 2024-08-08 - Version 0.1.10
* Gameplay Changes
  * Fixed logic bug in SM where the logic didn't account for colored doors properly.
  * Added key shuffle option - This will let you shuffle ALTTP dungeon items and add SM keycards.
	* Note that this is very experimental still so it might have unexpected bugs.

##### 2024-08-06 - Version 0.1.9
* Gameplay Changes
  * Corrected the backtracking check in logic for SM locations to ensure that it is always possible to get back out from a location.
  * Improved saving code in Z1 and M1 to hopefully prevent lost items in some cases.

### 2024-07-21 - Version 0.1.8
* Gameplay Changes
  * Rewrote Z1 dungeon screen logic to properly take into account the placement position of items in a room in logic.

### 2024-07-15 - Version 0.1.7
* Gameplay Changes
  * Fixed a bug when Z1 Overworld shuffle was enabled that cause the coast item and armos item to not be placed properly.
  * Fixed a bug in M1 where the top right energy tank location did not get its item written properly.

### 2024-07-15 - Version 0.1.6
* Gameplay Changes
  * Added an initial implementation of Zelda 1 Overworld Shuffle (WARNING: Be aware that this may be very buggy)
  * Fixed a bug that cause Turtle Rock and Misery Mire entry logic checks not to work properlyin Zelda 3
  * Fixed a bug with ammo calcuation in Super Metroid that caused ammo checks to be broken
  * Reverted the music engine change for Z1 since it caused notes to be stuck
  * Fixed the issue where Bombos would be invisible in Z1 dungeons
  * Fixed issues with the Super Metroid logic where it didn't properly connect the starting location.


### 2024-07-15 - Version 0.1.5
* Gameplay Changes
  * Moved the Up+A (Up+B on a SNES controller) shorcuts in Z1 and M1 to controller one.
  * Fixed a placement issue where Long Beam and Screw Attach when placed in M1 would not function correctly.
  * Fixed the crash in M1 after defeating Mother Brain if it was not the final boss.
  * Moved the auto-saving in M1 to direclty when the Password screen shows up.
  * Fixed an issue in Z1 where it was not saving items correctly, it now saves when the "Continue/Save/Retry" screen shows up.
  * Fixed a bug in the music engine for Z1 and M1 that should now make some music and effects sound better.


### 2024-07-13 - Version 0.1.4
* Systems Changes
  * The website has been updated to use a version of the website used for SMZ3.

* Gameplay Changes
  * Fixed an issue where the Z1 triforces and SM bosses goal was not correctly written to the ROM.
  * Fixed an issue where certain items (like Hookshot) did not work properly when placed in M1.


### Version 0.1.3
* Systems Changes
	* Reworked a lot of internal data, so beware that this might cause new issues
	* Added support for custom sprites in SM and added basic sprite selection support to the website for Z3 and SM

* Gameplay Changes
	* Hopefully fixed the random Z1 transition crashes

### Version 0.1.2
* Gameplay Changes
  * Added selectable crystal/boss/triforce goals for Z1, Z3 and SM
  * Fixed a bug where pausing in SM would corrupt items graphics
  * Fixed the incorrect Z3 standard state
  * Fixed an issue with some entrances in Z3 going to the wrong place
  * Rewrote the quick swap functionality in Z1 to work better
