---
title: Information
description: Overview of the Game Randomizer web experience and where to learn more.
lastUpdated: 2026-07-20
---

# Information

## General
The randomizer and website is still in early development and will receive updates over time, so except things to sometimes be broken. We'll try to fix it as soon as we can!

### Known issues
    * There are a few remaining issues with Alttp Boss Randomization and Enemy Randomization but it should be playable
    * Alttp entrance randomization logic isn't fully fleshed out and might have some misconfigured or stranged connections
    * A bunch more minor issues we're working on that isn't game-breaking

## V32 Alttpr Randomizer
A lot of things is still work in progress, but most basic settings should work at this point.

## Combo/Quad Randomizer
### Quick notes
	* This is a randomizer that combines Super Metroid, A Link to the Past, Metroid 1 and Zelda 1.
	* These are the cross-game portals when all games are selected:
        * sm:Crateria Map Room          - alttp:Lake Hylia Fortune Teller
        * sm:Norfair Map Room           - alttp:Old Man Home Circle
        * sm:Maridia Missile Refill     - alttp:Hint Giver Cave
        * sm:Golden Torizo Energy       - alttp:Mire Big Fairy
        * alttp:Kakariko Fortune Teller - z1:Portal Cave 66
        * alttp:Lumberjacks House       - m1:Brinstar Portal
        * z1:Portal Cave 0C             - sm:Caterpillar Save Room
        * m1:Norfair Portal             - sm:Bubble Mountain Save Room
        * z1:Portal Cave 5E             - m1:Kraid Portal

	* In Z1 and M1 you can use Up+B on the second controller when paused to "die" and restart at the start of a dungeon/area
    * SM Logic is made to roughly match the similar named logic levels in the SM map randomizer
