---
title: Information
description: Overview of the Game Randomizer web experience and where to learn more.
lastUpdated: 2024-09-15
---

# Information

## General
The randomizer and website is still in early development and will receive updates over time, so except things to sometimes be broken. We'll try to fix it as soon as we can!

### Known issues
    * There are a few remaining issues with Alttp Boss Randomization and Enemy Randomization but it should be playable
    * Alttp entrance randomization logic isn't fully fleshed out and might have some misconfigured or stranged connections
    * A bunch more minor issues we're working on that isn't game-breaking

## V32 Alttpr Randomizer
A lot of things is still work in progress, but most basic settings should work at this point.

## Combo/Quad Randomizer
### Quick notes
	* This is a randomizer that combines Super Metroid, A Link to the Past, Metroid 1 and Zelda 1.
    * Right now all games except for A Link to the Past can be toggled on or off (this will change later when more portals are added)
	* The portal to Zelda 1 is the Kakariko Fortune Teller
	* The portal to Metroid 1 is the Lumberjack hut
	* More portals will be added later
	* For the "Ganon" goal, all final bosses are required to be defeated to beat the game
	* In Z1 and M1 you can use Up+B on the second controller when paused to "die" and restart at the start of a dungeon/area
    * SM Logic is made to roughly match the similar named logic levels in the SM map randomizer
    * Right now the game will always start in A Link to the Past

### Known issues
    * The portal from Metroid 1 is janky and you might need to go back and forth to make it work inside Metroid 1
    * Hard-resetting out of SM, M1 or Z1 into Alttp can lead to upgrade issues with progressive items.
